html,
body {
  background: #f1f3f6;
  font-size: 13px;
  color: #6a6c6f;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
a.block {
  color: #6a6c6f;
  margin-top: 15px;
  display: block;
  text-decoration: none;
  text-transform: none;
}
.absolute-center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.full-width {
  width: 100% !important;
}
.m {
  margin: 15px;
}
.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.wrapper {
  padding: 20px;
}